## Printing

In [ ]:
# Print here
print('Hello, world!')

Hello, world!

## Variables

Variables are used to store information or values such as a number or words. To create a variable in python, write the name of the variables and assign it to a value.

variable_name = value

Note that the equal sign here is for assigning a variable, not to indicate equality

In [ ]:
# Make your variables here and try printing it!
speech = 'Hello, world'
number = 5

print(number)

5

In [ ]:
# How is this useful?
# Let's calculate the total number of animals in a paddy field
grasshopper = 10
frog = 8
snake = 2
owl = 1

total = grasshopper + frog + snake + owl
print('Total number of animals is', total)

# What if you want to add another species?

Total number of animals is 21

## Naming variables


1. Must begin with a letter (a - z, A - B) or underscore (_)
2. Other characters can be letters, numbers or _
3. Case Sensitive
4. Meaningful names

## Data types

### 1. String

Character data 

Use '<string_here>' or "<string_here>" to declare strings

In [ ]:
name = "Clare"
my_name = Clare

print(my_name)

NameError: name 'Clare' is not defined

### 2. Integers

Numbers without decimal places

In [ ]:
number = '5'

print(number * 2)

55

### 3. Float

Numbers with decimal places

In [ ]:
number = 3.142

print(number)

3.142

In [ ]:
add = 2 + 2
sub = 5 - 2
div = 6 / 3
multiply = 5 * 2

### Try it yourself!

Create the following variables:

1. Name
2. Year
3. Favourite colour

Now print your variables!

In [ ]:
# Try it here!

greeting = 'hello, world'
Greeting = 'hi, world'

print(Greeting)

hi, world

In [ ]:
dna_yeast_1 = 'ATCGACTAG'

SyntaxError: invalid decimal literal (<ipython-input-9-0637d8eaa7f7>, line 1)

## Lists

Lists are a collection of data which can be of different data types. Lists are mutable, meaning you can add, delete or change the elements in the list

In [ ]:
# Create your lists here!

my_list = [5, 3.142, 'BioHack', [5, 4, 3]]
print(my_list)

[5, 3.142, 'BioHack', [5, 4, 3]]

## Slicing lists

Values can be sliced from lists by specifying its position

When extracting a range of items, use [Start:End:Step]

In [ ]:
months = ['January', 'February', 'March', 'April', 'May', 'June']

# Try extracting January
print(months[0])

# Try extracting June
print(months[5])

January
June

In [ ]:
# Try extracting February to April
print(months[1:4])

['February', 'March', 'April']

In [ ]:
# Try extracting January to March
print(months[:3])

['January', 'February', 'March']

In [ ]:
# Try extracting every other item in the list
print(months[::2])

['January', 'March', 'May']

In [ ]:
# Try reversing the items in the list

print(months[5:1:-1])

empty = list()
print(empty)

['June', 'May', 'April', 'March']
[]

## Dictionary

Dictionary is similar to a list, but the order of items doesn’t matter, and they aren’t selected by an offset such as 0 or 1. Instead, you specify a unique key to associate with each value. 

dictionary = { key : item }

In [ ]:
# Make your own dictionary here

my_dictionary_of_time = {
    'second' : 1,
    'minute' : 60,
    'hour' : 3600,
    'day' : 'a very large number'
}

print(my_dictionary_of_time)

{'second': 1, 'minute': 60, 'hour': 3600, 'day': 'a very large number'}

In [ ]:
# Try accessing a value here

three_minutes = my_dictionary_of_time['minute'] * 3

print('Three minutes have', three_minutes, 'seconds.')

Three minutes have 180 seconds.

## For loops

Python makes frequent use of iterators, for good reason. They make it possible for you to traverse data structures without knowing how large they are or how they are implemented. 

It is possible to loop through:
1. Strings
2. Integers 
3. Lists
4. Etc

In [ ]:
# Try looping through a string
truth = "BioHackathon is awesome"

for alphabeth in truth:
    print(alphabeth)

B
i
o
H
a
c
k
a
t
h
o
n

i
s

a
w
e
s
o
m
e

In [ ]:
# Try looping through numbers

number = 10
for i in range(number):
    squared = i * i
    print(squared)

0
1
4
9
16
25
36
49
64
81

In [ ]:
# Try looping through lists

bacteria = ['Streptococcus', 'E. coli', 'Green sulphur bacteria']
for bact in bacteria:
    print(bact)

prime_numbers = [2, 3, 5, 7, 11]
for number in prime_numbers:
    multiply = number * 2
    print(multiply)

Streptococcus
E. coli
Green sulphur bacteria
4
6
10
14
22

In [ ]:
number = 1000
for i in range(number):
    new_number = i * 2
    print(i, 'multiplied by two is', new_number)

0 multiplied by two is 0
1 multiplied by two is 2
2 multiplied by two is 4
3 multiplied by two is 6
4 multiplied by two is 8
5 multiplied by two is 10
6 multiplied by two is 12
7 multiplied by two is 14
8 multiplied by two is 16
9 multiplied by two is 18
10 multiplied by two is 20
11 multiplied by two is 22
12 multiplied by two is 24
13 multiplied by two is 26
14 multiplied by two is 28
15 multiplied by two is 30
16 multiplied by two is 32
17 multiplied by two is 34
18 multiplied by two is 36
19 multiplied by two is 38
20 multiplied by two is 40
21 multiplied by two is 42
22 multiplied by two is 44
23 multiplied by two is 46
24 multiplied by two is 48
25 multiplied by two is 50
26 multiplied by two is 52
27 multiplied by two is 54
28 multiplied by two is 56
29 multiplied by two is 58
30 multiplied by two is 60
31 multiplied by two is 62
32 multiplied by two is 64
33 multiplied by two is 66
34 multiplied by two is 68
35 multiplied by two is 70
36 multiplied by two is 72
37 multiplied by two is 74
38 multiplied by two is 76
39 multiplied by two is 78
40 multiplied by two is 80
41 multiplied by two is 82
42 multiplied by two is 84
43 multiplied by two is 86
44 multiplied by two is 88
45 multiplied by two is 90
46 multiplied by two is 92
47 multiplied by two is 94
48 multiplied by two is 96
49 multiplied by two is 98
50 multiplied by two is 100
51 multiplied by two is 102
52 multiplied by two is 104
53 multiplied by two is 106
54 multiplied by two is 108
55 multiplied by two is 110
56 multiplied by two is 112
57 multiplied by two is 114
58 multiplied by two is 116
59 multiplied by two is 118
60 multiplied by two is 120
61 multiplied by two is 122
62 multiplied by two is 124
63 multiplied by two is 126
64 multiplied by two is 128
65 multiplied by two is 130
66 multiplied by two is 132
67 multiplied by two is 134
68 multiplied by two is 136
69 multiplied by two is 138
70 multiplied by two is 140
71 multiplied by two is 142
72 multiplied by two is 144
73 multiplied by two is 146
74 multiplied by two is 148
75 multiplied by two is 150
76 multiplied by two is 152
77 multiplied by two is 154
78 multiplied by two is 156
79 multiplied by two is 158
80 multiplied by two is 160
81 multiplied by two is 162
82 multiplied by two is 164
83 multiplied by two is 166
84 multiplied by two is 168
85 multiplied by two is 170
86 multiplied by two is 172
87 multiplied by two is 174
88 multiplied by two is 176
89 multiplied by two is 178
90 multiplied by two is 180
91 multiplied by two is 182
92 multiplied by two is 184
93 multiplied by two is 186
94 multiplied by two is 188
95 multiplied by two is 190
96 multiplied by two is 192
97 multiplied by two is 194
98 multiplied by two is 196
99 multiplied by two is 198
100 multiplied by two is 200
101 multiplied by two is 202
102 multiplied by two is 204
103 multiplied by two is 206
104 multiplied by two is 208
105 multiplied by two is 210
106 multiplied by two is 212
107 multiplied by two is 214
108 multiplied by two is 216
109 multiplied by two is 218
110 multiplied by two is 220
111 multiplied by two is 222
112 multiplied by two is 224
113 multiplied by two is 226
114 multiplied by two is 228
115 multiplied by two is 230
116 multiplied by two is 232
117 multiplied by two is 234
118 multiplied by two is 236
119 multiplied by two is 238
120 multiplied by two is 240
121 multiplied by two is 242
122 multiplied by two is 244
123 multiplied by two is 246
124 multiplied by two is 248
125 multiplied by two is 250
126 multiplied by two is 252
127 multiplied by two is 254
128 multiplied by two is 256
129 multiplied by two is 258
130 multiplied by two is 260
131 multiplied by two is 262
132 multiplied by two is 264
133 multiplied by two is 266
134 multiplied by two is 268
135 multiplied by two is 270
136 multiplied by two is 272
137 multiplied by two is 274
138 multiplied by two is 276
139 multiplied by two is 278
140 multiplied by two is 280
141 multiplied by two is 282
142 multiplied by two is 284
143 multiplied by two is 286
144 multiplied by two is 288
145 multiplied by two is 290
146 multiplied by two is 292
147 multiplied by two is 294
148 multiplied by two is 296
149 multiplied by two is 298
150 multiplied by two is 300
151 multiplied by two is 302
152 multiplied by two is 304
153 multiplied by two is 306
154 multiplied by two is 308
155 multiplied by two is 310
156 multiplied by two is 312
157 multiplied by two is 314
158 multiplied by two is 316
159 multiplied by two is 318
160 multiplied by two is 320
161 multiplied by two is 322
162 multiplied by two is 324
163 multiplied by two is 326
164 multiplied by two is 328
165 multiplied by two is 330
166 multiplied by two is 332
167 multiplied by two is 334
168 multiplied by two is 336
169 multiplied by two is 338
170 multiplied by two is 340
171 multiplied by two is 342
172 multiplied by two is 344
173 multiplied by two is 346
174 multiplied by two is 348
175 multiplied by two is 350
176 multiplied by two is 352
177 multiplied by two is 354
178 multiplied by two is 356
179 multiplied by two is 358
180 multiplied by two is 360
181 multiplied by two is 362
182 multiplied by two is 364
183 multiplied by two is 366
184 multiplied by two is 368
185 multiplied by two is 370
186 multiplied by two is 372
187 multiplied by two is 374
188 multiplied by two is 376
189 multiplied by two is 378
190 multiplied by two is 380
191 multiplied by two is 382
192 multiplied by two is 384
193 multiplied by two is 386
194 multiplied by two is 388
195 multiplied by two is 390
196 multiplied by two is 392
197 multiplied by two is 394
198 multiplied by two is 396
199 multiplied by two is 398
200 multiplied by two is 400
201 multiplied by two is 402
202 multiplied by two is 404
203 multiplied by two is 406
204 multiplied by two is 408
205 multiplied by two is 410
206 multiplied by two is 412
207 multiplied by two is 414
208 multiplied by two is 416
209 multiplied by two is 418
210 multiplied by two is 420
211 multiplied by two is 422
212 multiplied by two is 424
213 multiplied by two is 426
214 multiplied by two is 428
215 multiplied by two is 430
216 multiplied by two is 432
217 multiplied by two is 434
218 multiplied by two is 436
219 multiplied by two is 438
220 multiplied by two is 440
221 multiplied by two is 442
222 multiplied by two is 444
223 multiplied by two is 446
224 multiplied by two is 448
225 multiplied by two is 450
226 multiplied by two is 452
227 multiplied by two is 454
228 multiplied by two is 456
229 multiplied by two is 458
230 multiplied by two is 460
231 multiplied by two is 462
232 multiplied by two is 464
233 multiplied by two is 466
234 multiplied by two is 468
235 multiplied by two is 470
236 multiplied by two is 472
237 multiplied by two is 474
238 multiplied by two is 476
239 multiplied by two is 478
240 multiplied by two is 480
241 multiplied by two is 482
242 multiplied by two is 484
243 multiplied by two is 486
244 multiplied by two is 488
245 multiplied by two is 490
246 multiplied by two is 492
247 multiplied by two is 494
248 multiplied by two is 496
249 multiplied by two is 498
250 multiplied by two is 500
251 multiplied by two is 502
252 multiplied by two is 504
253 multiplied by two is 506
254 multiplied by two is 508
255 multiplied by two is 510
256 multiplied by two is 512
257 multiplied by two is 514
258 multiplied by two is 516
259 multiplied by two is 518
260 multiplied by two is 520
261 multiplied by two is 522
262 multiplied by two is 524
263 multiplied by two is 526
264 multiplied by two is 528
265 multiplied by two is 530
266 multiplied by two is 532
267 multiplied by two is 534
268 multiplied by two is 536
269 multiplied by two is 538
270 multiplied by two is 540
271 multiplied by two is 542
272 multiplied by two is 544
273 multiplied by two is 546
274 multiplied by two is 548
275 multiplied by two is 550
276 multiplied by two is 552
277 multiplied by two is 554
278 multiplied by two is 556
279 multiplied by two is 558
280 multiplied by two is 560
281 multiplied by two is 562
282 multiplied by two is 564
283 multiplied by two is 566
284 multiplied by two is 568
285 multiplied by two is 570
286 multiplied by two is 572
287 multiplied by two is 574
288 multiplied by two is 576
289 multiplied by two is 578
290 multiplied by two is 580
291 multiplied by two is 582
292 multiplied by two is 584
293 multiplied by two is 586
294 multiplied by two is 588
295 multiplied by two is 590
296 multiplied by two is 592
297 multiplied by two is 594
298 multiplied by two is 596
299 multiplied by two is 598
300 multiplied by two is 600
301 multiplied by two is 602
302 multiplied by two is 604
303 multiplied by two is 606
304 multiplied by two is 608
305 multiplied by two is 610
306 multiplied by two is 612
307 multiplied by two is 614
308 multiplied by two is 616
309 multiplied by two is 618
310 multiplied by two is 620
311 multiplied by two is 622
312 multiplied by two is 624
313 multiplied by two is 626
314 multiplied by two is 628
315 multiplied by two is 630
316 multiplied by two is 632
317 multiplied by two is 634
318 multiplied by two is 636
319 multiplied by two is 638
320 multiplied by two is 640
321 multiplied by two is 642
322 multiplied by two is 644
323 multiplied by two is 646
324 multiplied by two is 648
325 multiplied by two is 650
326 multiplied by two is 652
327 multiplied by two is 654
328 multiplied by two is 656
329 multiplied by two is 658
330 multiplied by two is 660
331 multiplied by two is 662
332 multiplied by two is 664
333 multiplied by two is 666
334 multiplied by two is 668
335 multiplied by two is 670
336 multiplied by two is 672
337 multiplied by two is 674
338 multiplied by two is 676
339 multiplied by two is 678
340 multiplied by two is 680
341 multiplied by two is 682
342 multiplied by two is 684
343 multiplied by two is 686
344 multiplied by two is 688
345 multiplied by two is 690
346 multiplied by two is 692
347 multiplied by two is 694
348 multiplied by two is 696
349 multiplied by two is 698
350 multiplied by two is 700
351 multiplied by two is 702
352 multiplied by two is 704
353 multiplied by two is 706
354 multiplied by two is 708
355 multiplied by two is 710
356 multiplied by two is 712
357 multiplied by two is 714
358 multiplied by two is 716
359 multiplied by two is 718
360 multiplied by two is 720
361 multiplied by two is 722
362 multiplied by two is 724
363 multiplied by two is 726
364 multiplied by two is 728
365 multiplied by two is 730
366 multiplied by two is 732
367 multiplied by two is 734
368 multiplied by two is 736
369 multiplied by two is 738
370 multiplied by two is 740
371 multiplied by two is 742
372 multiplied by two is 744
373 multiplied by two is 746
374 multiplied by two is 748
375 multiplied by two is 750
376 multiplied by two is 752
377 multiplied by two is 754
378 multiplied by two is 756
379 multiplied by two is 758
380 multiplied by two is 760
381 multiplied by two is 762
382 multiplied by two is 764
383 multiplied by two is 766
384 multiplied by two is 768
385 multiplied by two is 770
386 multiplied by two is 772
387 multiplied by two is 774
388 multiplied by two is 776
389 multiplied by two is 778
390 multiplied by two is 780
391 multiplied by two is 782
392 multiplied by two is 784
393 multiplied by two is 786
394 multiplied by two is 788
395 multiplied by two is 790
396 multiplied by two is 792
397 multiplied by two is 794
398 multiplied by two is 796
399 multiplied by two is 798
400 multiplied by two is 800
401 multiplied by two is 802
402 multiplied by two is 804
403 multiplied by two is 806
404 multiplied by two is 808
405 multiplied by two is 810
406 multiplied by two is 812
407 multiplied by two is 814
408 multiplied by two is 816
409 multiplied by two is 818
410 multiplied by two is 820
411 multiplied by two is 822
412 multiplied by two is 824
413 multiplied by two is 826
414 multiplied by two is 828
415 multiplied by two is 830
416 multiplied by two is 832
417 multiplied by two is 834
418 multiplied by two is 836
419 multiplied by two is 838
420 multiplied by two is 840
421 multiplied by two is 842
422 multiplied by two is 844
423 multiplied by two is 846
424 multiplied by two is 848
425 multiplied by two is 850
426 multiplied by two is 852
427 multiplied by two is 854
428 multiplied by two is 856
429 multiplied by two is 858
430 multiplied by two is 860
431 multiplied by two is 862
432 multiplied by two is 864
433 multiplied by two is 866
434 multiplied by two is 868
435 multiplied by two is 870
436 multiplied by two is 872
437 multiplied by two is 874
438 multiplied by two is 876
439 multiplied by two is 878
440 multiplied by two is 880
441 multiplied by two is 882
442 multiplied by two is 884
443 multiplied by two is 886
444 multiplied by two is 888
445 multiplied by two is 890
446 multiplied by two is 892
447 multiplied by two is 894
448 multiplied by two is 896
449 multiplied by two is 898
450 multiplied by two is 900
451 multiplied by two is 902
452 multiplied by two is 904
453 multiplied by two is 906
454 multiplied by two is 908
455 multiplied by two is 910
456 multiplied by two is 912
457 multiplied by two is 914
458 multiplied by two is 916
459 multiplied by two is 918
460 multiplied by two is 920
461 multiplied by two is 922
462 multiplied by two is 924
463 multiplied by two is 926
464 multiplied by two is 928
465 multiplied by two is 930
466 multiplied by two is 932
467 multiplied by two is 934
468 multiplied by two is 936
469 multiplied by two is 938
470 multiplied by two is 940
471 multiplied by two is 942
472 multiplied by two is 944
473 multiplied by two is 946
474 multiplied by two is 948
475 multiplied by two is 950
476 multiplied by two is 952
477 multiplied by two is 954
478 multiplied by two is 956
479 multiplied by two is 958
480 multiplied by two is 960
481 multiplied by two is 962
482 multiplied by two is 964
483 multiplied by two is 966
484 multiplied by two is 968
485 multiplied by two is 970
486 multiplied by two is 972
487 multiplied by two is 974
488 multiplied by two is 976
489 multiplied by two is 978
490 multiplied by two is 980
491 multiplied by two is 982
492 multiplied by two is 984
493 multiplied by two is 986
494 multiplied by two is 988
495 multiplied by two is 990
496 multiplied by two is 992
497 multiplied by two is 994
498 multiplied by two is 996
499 multiplied by two is 998
500 multiplied by two is 1000
501 multiplied by two is 1002
502 multiplied by two is 1004
503 multiplied by two is 1006
504 multiplied by two is 1008
505 multiplied by two is 1010
506 multiplied by two is 1012
507 multiplied by two is 1014
508 multiplied by two is 1016
509 multiplied by two is 1018
510 multiplied by two is 1020
511 multiplied by two is 1022
512 multiplied by two is 1024
513 multiplied by two is 1026
514 multiplied by two is 1028
515 multiplied by two is 1030
516 multiplied by two is 1032
517 multiplied by two is 1034
518 multiplied by two is 1036
519 multiplied by two is 1038
520 multiplied by two is 1040
521 multiplied by two is 1042
522 multiplied by two is 1044
523 multiplied by two is 1046
524 multiplied by two is 1048
525 multiplied by two is 1050
526 multiplied by two is 1052
527 multiplied by two is 1054
528 multiplied by two is 1056
529 multiplied by two is 1058
530 multiplied by two is 1060
531 multiplied by two is 1062
532 multiplied by two is 1064
533 multiplied by two is 1066
534 multiplied by two is 1068
535 multiplied by two is 1070
536 multiplied by two is 1072
537 multiplied by two is 1074
538 multiplied by two is 1076
539 multiplied by two is 1078
540 multiplied by two is 1080
541 multiplied by two is 1082
542 multiplied by two is 1084
543 multiplied by two is 1086
544 multiplied by two is 1088
545 multiplied by two is 1090
546 multiplied by two is 1092
547 multiplied by two is 1094
548 multiplied by two is 1096
549 multiplied by two is 1098
550 multiplied by two is 1100
551 multiplied by two is 1102
552 multiplied by two is 1104
553 multiplied by two is 1106
554 multiplied by two is 1108
555 multiplied by two is 1110
556 multiplied by two is 1112
557 multiplied by two is 1114
558 multiplied by two is 1116
559 multiplied by two is 1118
560 multiplied by two is 1120
561 multiplied by two is 1122
562 multiplied by two is 1124
563 multiplied by two is 1126
564 multiplied by two is 1128
565 multiplied by two is 1130
566 multiplied by two is 1132
567 multiplied by two is 1134
568 multiplied by two is 1136
569 multiplied by two is 1138
570 multiplied by two is 1140
571 multiplied by two is 1142
572 multiplied by two is 1144
573 multiplied by two is 1146
574 multiplied by two is 1148
575 multiplied by two is 1150
576 multiplied by two is 1152
577 multiplied by two is 1154
578 multiplied by two is 1156
579 multiplied by two is 1158
580 multiplied by two is 1160
581 multiplied by two is 1162
582 multiplied by two is 1164
583 multiplied by two is 1166
584 multiplied by two is 1168
585 multiplied by two is 1170
586 multiplied by two is 1172
587 multiplied by two is 1174
588 multiplied by two is 1176
589 multiplied by two is 1178
590 multiplied by two is 1180
591 multiplied by two is 1182
592 multiplied by two is 1184
593 multiplied by two is 1186
594 multiplied by two is 1188
595 multiplied by two is 1190
596 multiplied by two is 1192
597 multiplied by two is 1194
598 multiplied by two is 1196
599 multiplied by two is 1198
600 multiplied by two is 1200
601 multiplied by two is 1202
602 multiplied by two is 1204
603 multiplied by two is 1206
604 multiplied by two is 1208
605 multiplied by two is 1210
606 multiplied by two is 1212
607 multiplied by two is 1214
608 multiplied by two is 1216
609 multiplied by two is 1218
610 multiplied by two is 1220
611 multiplied by two is 1222
612 multiplied by two is 1224
613 multiplied by two is 1226
614 multiplied by two is 1228
615 multiplied by two is 1230
616 multiplied by two is 1232
617 multiplied by two is 1234
618 multiplied by two is 1236
619 multiplied by two is 1238
620 multiplied by two is 1240
621 multiplied by two is 1242
622 multiplied by two is 1244
623 multiplied by two is 1246
624 multiplied by two is 1248
625 multiplied by two is 1250
626 multiplied by two is 1252
627 multiplied by two is 1254
628 multiplied by two is 1256
629 multiplied by two is 1258
630 multiplied by two is 1260
631 multiplied by two is 1262
632 multiplied by two is 1264
633 multiplied by two is 1266
634 multiplied by two is 1268
635 multiplied by two is 1270
636 multiplied by two is 1272
637 multiplied by two is 1274
638 multiplied by two is 1276
639 multiplied by two is 1278
640 multiplied by two is 1280
641 multiplied by two is 1282
642 multiplied by two is 1284
643 multiplied by two is 1286
644 multiplied by two is 1288
645 multiplied by two is 1290
646 multiplied by two is 1292
647 multiplied by two is 1294
648 multiplied by two is 1296
649 multiplied by two is 1298
650 multiplied by two is 1300
651 multiplied by two is 1302
652 multiplied by two is 1304
653 multiplied by two is 1306
654 multiplied by two is 1308
655 multiplied by two is 1310
656 multiplied by two is 1312
657 multiplied by two is 1314
658 multiplied by two is 1316
659 multiplied by two is 1318
660 multiplied by two is 1320
661 multiplied by two is 1322
662 multiplied by two is 1324
663 multiplied by two is 1326
664 multiplied by two is 1328
665 multiplied by two is 1330
666 multiplied by two is 1332
667 multiplied by two is 1334
668 multiplied by two is 1336
669 multiplied by two is 1338
670 multiplied by two is 1340
671 multiplied by two is 1342
672 multiplied by two is 1344
673 multiplied by two is 1346
674 multiplied by two is 1348
675 multiplied by two is 1350
676 multiplied by two is 1352
677 multiplied by two is 1354
678 multiplied by two is 1356
679 multiplied by two is 1358
680 multiplied by two is 1360
681 multiplied by two is 1362
682 multiplied by two is 1364
683 multiplied by two is 1366
684 multiplied by two is 1368
685 multiplied by two is 1370
686 multiplied by two is 1372
687 multiplied by two is 1374

717 multiplied by two is 1434
718 multiplied by two is 1436
719 multiplied by two is 1438
720 multiplied by two is 1440
721 multiplied by two is 1442
722 multiplied by two is 1444
723 multiplied by two is 1446
724 multiplied by two is 1448
725 multiplied by two is 1450
726 multiplied by two is 1452
727 multiplied by two is 1454
728 multiplied by two is 1456
729 multiplied by two is 1458
730 multiplied by two is 1460
731 multiplied by two is 1462
732 multiplied by two is 1464
733 multiplied by two is 1466
734 multiplied by two is 1468
735 multiplied by two is 1470
736 multiplied by two is 1472
737 multiplied by two is 1474
738 multiplied by two is 1476
739 multiplied by two is 1478
740 multiplied by two is 1480
741 multiplied by two is 1482
742 multiplied by two is 1484
743 multiplied by two is 1486
744 multiplied by two is 1488
745 multiplied by two is 1490
746 multiplied by two is 1492
747 multiplied by two is 1494
748 multiplied by two is 1496
749 multiplied by two is 1498
750 multiplied by two is 1500
751 multiplied by two is 1502
752 multiplied by two is 1504
753 multiplied by two is 1506
754 multiplied by two is 1508
755 multiplied by two is 1510
756 multiplied by two is 1512
757 multiplied by two is 1514
758 multiplied by two is 1516
759 multiplied by two is 1518
760 multiplied by two is 1520
761 multiplied by two is 1522
762 multiplied by two is 1524
763 multiplied by two is 1526
764 multiplied by two is 1528
765 multiplied by two is 1530
766 multiplied by two is 1532
767 multiplied by two is 1534
768 multiplied by two is 1536
769 multiplied by two is 1538
770 multiplied by two is 1540
771 multiplied by two is 1542
772 multiplied by two is 1544
773 multiplied by two is 1546
774 multiplied by two is 1548
775 multiplied by two is 1550
776 multiplied by two is 1552
777 multiplied by two is 1554
778 multiplied by two is 1556
779 multiplied by two is 1558
780 multiplied by two is 1560
781 multiplied by two is 1562
782 multiplied by two is 1564
783 multiplied by two is 1566
784 multiplied by two is 1568
785 multiplied by two is 1570
786 multiplied by two is 1572
787 multiplied by two is 1574
788 multiplied by two is 1576
789 multiplied by two is 1578
790 multiplied by two is 1580
791 multiplied by two is 1582
792 multiplied by two is 1584
793 multiplied by two is 1586
794 multiplied by two is 1588
795 multiplied by two is 1590
796 multiplied by two is 1592
797 multiplied by two is 1594
798 multiplied by two is 1596
799 multiplied by two is 1598
800 multiplied by two is 1600
801 multiplied by two is 1602
802 multiplied by two is 1604
803 multiplied by two is 1606
804 multiplied by two is 1608
805 multiplied by two is 1610
806 multiplied by two is 1612
807 multiplied by two is 1614
808 multiplied by two is 1616
809 multiplied by two is 1618
810 multiplied by two is 1620
811 multiplied by two is 1622
812 multiplied by two is 1624
813 multiplied by two is 1626
814 multiplied by two is 1628
815 multiplied by two is 1630
816 multiplied by two is 1632
817 multiplied by two is 1634
818 multiplied by two is 1636
819 multiplied by two is 1638
820 multiplied by two is 1640
821 multiplied by two is 1642
822 multiplied by two is 1644
823 multiplied by two is 1646
824 multiplied by two is 1648
825 multiplied by two is 1650
826 multiplied by two is 1652
827 multiplied by two is 1654
828 multiplied by two is 1656
829 multiplied by two is 1658
830 multiplied by two is 1660
831 multiplied by two is 1662
832 multiplied by two is 1664
833 multiplied by two is 1666
834 multiplied by two is 1668
835 multiplied by two is 1670
836 multiplied by two is 1672
837 multiplied by two is 1674
838 multiplied by two is 1676
839 multiplied by two is 1678
840 multiplied by two is 1680
841 multiplied by two is 1682
842 multiplied by two is 1684
843 multiplied by two is 1686
844 multiplied by two is 1688
845 multiplied by two is 1690
846 multiplied by two is 1692
847 multiplied by two is 1694
848 multiplied by two is 1696
849 multiplied by two is 1698
850 multiplied by two is 1700
851 multiplied by two is 1702
852 multiplied by two is 1704
853 multiplied by two is 1706
854 multiplied by two is 1708
855 multiplied by two is 1710
856 multiplied by two is 1712
857 multiplied by two is 1714
858 multiplied by two is 1716
859 multiplied by two is 1718
860 multiplied by two is 1720
861 multiplied by two is 1722
862 multiplied by two is 1724
863 multiplied by two is 1726
864 multiplied by two is 1728
865 multiplied by two is 1730
866 multiplied by two is 1732
867 multiplied by two is 1734
868 multiplied by two is 1736
869 multiplied by two is 1738
870 multiplied by two is 1740
871 multiplied by two is 1742
872 multiplied by two is 1744
873 multiplied by two is 1746
874 multiplied by two is 1748
875 multiplied by two is 1750
876 multiplied by two is 1752
877 multiplied by two is 1754
878 multiplied by two is 1756
879 multiplied by two is 1758
880 multiplied by two is 1760
881 multiplied by two is 1762
882 multiplied by two is 1764
883 multiplied by two is 1766
884 multiplied by two is 1768
885 multiplied by two is 1770
886 multiplied by two is 1772
887 multiplied by two is 1774
888 multiplied by two is 1776
889 multiplied by two is 1778
890 multiplied by two is 1780
891 multiplied by two is 1782
892 multiplied by two is 1784
893 multiplied by two is 1786
894 multiplied by two is 1788
895 multiplied by two is 1790
896 multiplied by two is 1792
897 multiplied by two is 1794
898 multiplied by two is 1796
899 multiplied by two is 1798
900 multiplied by two is 1800
901 multiplied by two is 1802
902 multiplied by two is 1804
903 multiplied by two is 1806
904 multiplied by two is 1808
905 multiplied by two is 1810
906 multiplied by two is 1812
907 multiplied by two is 1814
908 multiplied by two is 1816
909 multiplied by two is 1818
910 multiplied by two is 1820
911 multiplied by two is 1822
912 multiplied by two is 1824
913 multiplied by two is 1826
914 multiplied by two is 1828
915 multiplied by two is 1830
916 multiplied by two is 1832
917 multiplied by two is 1834
918 multiplied by two is 1836
919 multiplied by two is 1838
920 multiplied by two is 1840
921 multiplied by two is 1842
922 multiplied by two is 1844
923 multiplied by two is 1846
924 multiplied by two is 1848
925 multiplied by two is 1850
926 multiplied by two is 1852
927 multiplied by two is 1854
928 multiplied by two is 1856
929 multiplied by two is 1858
930 multiplied by two is 1860
931 multiplied by two is 1862
932 multiplied by two is 1864
933 multiplied by two is 1866
934 multiplied by two is 1868
935 multiplied by two is 1870
936 multiplied by two is 1872
937 multiplied by two is 1874
938 multiplied by two is 1876
939 multiplied by two is 1878
940 multiplied by two is 1880
941 multiplied by two is 1882
942 multiplied by two is 1884
943 multiplied by two is 1886
944 multiplied by two is 1888
945 multiplied by two is 1890
946 multiplied by two is 1892
947 multiplied by two is 1894
948 multiplied by two is 1896
949 multiplied by two is 1898
950 multiplied by two is 1900
951 multiplied by two is 1902
952 multiplied by two is 1904
953 multiplied by two is 1906
954 multiplied by two is 1908
955 multiplied by two is 1910
956 multiplied by two is 1912
957 multiplied by two is 1914
958 multiplied by two is 1916
959 multiplied by two is 1918
960 multiplied by two is 1920
961 multiplied by two is 1922
962 multiplied by two is 1924
963 multiplied by two is 1926
964 multiplied by two is 1928
965 multiplied by two is 1930
966 multiplied by two is 1932
967 multiplied by two is 1934
968 multiplied by two is 1936
969 multiplied by two is 1938
970 multiplied by two is 1940
971 multiplied by two is 1942
972 multiplied by two is 1944
973 multiplied by two is 1946
974 multiplied by two is 1948
975 multiplied by two is 1950
976 multiplied by two is 1952
977 multiplied by two is 1954
978 multiplied by two is 1956
979 multiplied by two is 1958
980 multiplied by two is 1960
981 multiplied by two is 1962
982 multiplied by two is 1964
983 multiplied by two is 1966
984 multiplied by two is 1968
985 multiplied by two is 1970
986 multiplied by two is 1972
987 multiplied by two is 1974
988 multiplied by two is 1976
989 multiplied by two is 1978
990 multiplied by two is 1980
991 multiplied by two is 1982
992 multiplied by two is 1984
993 multiplied by two is 1986
994 multiplied by two is 1988
995 multiplied by two is 1990
996 multiplied by two is 1992
997 multiplied by two is 1994
998 multiplied by two is 1996
999 multiplied by two is 1998

DNA contains the genetic information of all living things. During cell division, DNA replication occurs. 

Given a strand of DNA, how do we find its complementary strand? 

Test case 1: ACGTACGTGACG

Answer: CGTCACGTACGT


Test case 2: ATCG

Answer: CGAT


Test case 3: GCGCGCGCGCGAAATTTT

Answer: AAAATTTCGCGCGCGCGC

In [ ]:
# Write your code here!

dna = 'ACGTACGTGACG'
bases_dictionary = {
    'A': 'T',
    'T': 'A',
    'G': 'C',
    'C': 'G'
}

complement_dna = ''

for base in dna:
    complement_dna += bases_dictionary[base]
reverse_complement = complement_dna[::-1]
print(reverse_complement)

CGTCACGTACGT